<section id="adaptability-section" class="relative flex-1 flex justify-center lg:h-fit px-6 py-12 lg:py-24 bg-[#f8f9fa]">
    <div class="flex flex-col items-center lg:justify-evenly gap-y-12 lg:gap-y-24 size-full md:max-w-6xl text-center">

        <div class="flex flex-col items-center">
            <h1 class="text-2xl md:text-3xl font-bold">Nos adaptamos a tu tipo de negocio</h1>
            <span class="relative block h-[2px] w-[50px] bg-[#8e1efc] mx-auto my-5 after:content-[''] after:absolute after:left-1/2 
                after:-ml-[75px] after:w-[150px] after:h-[2px] after:border-b-2 after:border-dashed after:border-[#8e1efc]">
            </span>
            <p class="text-lg text-secondary-qt_grey-light max-w-3xl">
                No importa si tenés mesas, si sos un food truck o una dark kitchen. 
                GastroQR se adapta a cualquier modelo gastronómico
            </p>
        </div>

        <div class="grid sm:grid-cols-2 lg:grid-cols-4 items-center gap-6">
            <div class="flex flex-col items-center gap-y-6 px-6 py-8 size-full bg-white rounded-2xl shadow-center-dark-sm 
                opacity-0 transition-all duration-300 ease-in-out [animation-delay:0.1s] hover:shadow-center-dark-md 
                hover:-translate-y-2.5 group" data-animate
            >
                <div class="flex items-center justify-center size-20 bg-linear-to-l from-[#7a60ff] to-[#cd9ffa] 
                    rounded-full transition-all duration-300 ease-in-out group-hover:scale-110"
                >
                    <i class="fa fa-utensils text-3xl text-white" aria-hidden="true"></i>
                </div>
                <div class="flex flex-col gap-y-3">
                    <h5 class="text-xl font-semibold">Restaurantes</h5>
                    <p class="text-sm text-secondary-qt_grey-light">
                        Gestión completa de mesas, pedidos y pagos para restaurantes tradicionales
                    </p>
                </div>
            </div>

            <div class="flex flex-col items-center gap-y-6 px-6 py-8 size-full bg-white rounded-2xl shadow-center-dark-sm 
                opacity-0 transition-all duration-300 ease-in-out [animation-delay:0.2s] hover:shadow-center-dark-md 
                hover:-translate-y-2.5 group" data-animate
            >
                <div class="flex items-center justify-center size-20 bg-linear-to-l from-[#7a60ff] to-[#cd9ffa] 
                    rounded-full transition-all duration-300 ease-in-out group-hover:scale-110"
                >
                    <i class="fa fa-truck text-3xl text-white" aria-hidden="true"></i>
                </div>
                <div class="flex flex-col gap-y-3">
                    <h5 class="text-xl font-semibold">Food Trucks</h5>
                    <p class="text-sm text-secondary-qt_grey-light">
                        Sistema de pedidos móvil perfecto para negocios ambulantes y eventos
                    </p>
                </div>
            </div>

            <div class="flex flex-col items-center gap-y-6 px-6 py-8 size-full bg-white rounded-2xl shadow-center-dark-sm 
                opacity-0 transition-all duration-300 ease-in-out [animation-delay:0.3s] hover:shadow-center-dark-md 
                hover:-translate-y-2.5 group" data-animate
            >
                <div class="flex items-center justify-center size-20 bg-linear-to-l from-[#7a60ff] to-[#cd9ffa] 
                    rounded-full transition-all duration-300 ease-in-out group-hover:scale-110"
                >
                    <i class="fa fa-home text-3xl text-white" aria-hidden="true"></i>
                </div>
                <div class="flex flex-col gap-y-3">
                    <h5 class="text-xl font-semibold">Dark Kitchens</h5>
                    <p class="text-sm text-secondary-qt_grey-light">
                        Optimizado para cocinas de delivery sin atención presencial
                    </p>
                </div>
            </div>

            <div class="flex flex-col items-center gap-y-6 px-6 py-8 size-full bg-white rounded-2xl shadow-center-dark-sm 
                opacity-0 transition-all duration-300 ease-in-out [animation-delay:0.4s] hover:shadow-center-dark-md 
                hover:-translate-y-2.5 group" data-animate
            >
                <div class="flex items-center justify-center size-20 bg-linear-to-l from-[#7a60ff] to-[#cd9ffa] 
                    rounded-full transition-all duration-300 ease-in-out group-hover:scale-110"
                >
                    <i class="fa fa-shopping-bag text-3xl text-white" aria-hidden="true"></i>
                </div>
                <div class="flex flex-col gap-y-3">
                    <h5 class="text-xl font-semibold">Take Away</h5>
                    <p class="text-sm text-secondary-qt_grey-light">
                        Pedidos rápidos para retiro en local sin necesidad de mesas
                    </p>
                </div>
            </div>
        </div>

    </div>
</section>
