<section id="contact-section" class="relative flex-1 flex justify-center px-6 py-12 lg:py-24 bg-linear-to-l 
    from-primary/90 to-primary-300/90 dark:from-primary-800/90 dark:to-primary-600/90 
    before:content-[''] before:absolute before:inset-0 before:bg-[url('/assets/images/pattern.png')]"
>
    <div class="z-10 flex flex-col items-center lg:justify-evenly gap-y-12 lg:gap-y-16 size-full md:max-w-6xl text-center text-tertiary-0">

        <div class="flex flex-col items-center">
            <h1 class="text-2xl md:text-3xl font-bold">Contáctanos</h1>
            <span class="relative block h-[2px] w-[50px] bg-primary-600 dark:bg-primary-800 mx-auto my-5 
                after:content-[''] after:absolute after:left-1/2 after:-ml-[75px] after:w-[150px] after:h-[2px] 
                after:border-b-2 after:border-dashed after:border-primary-600 dark:after:border-primary-800"
            ></span>
        </div>

        <div class="flex flex-col-reverse md:flex-row items-center md:justify-around w-full gap-12 text-primary-800 dark:text-primary-50">
            <div class="grid md:grid-cols-2 gap-6 md:gap-12 font-medium">
                <a href="https://www.argonglobal.tech/es" class="flex items-center gap-x-3">
                    <div class="flex items-center justify-center size-16 bg-tertiary-0/20 border-2 border-tertiary-0/30
                        rounded-full transition-all duration-300 ease-in-out hover:bg-tertiary-0/30 hover:scale-110"
                    >
                        <img src="/assets/images/logos/agt-logo-positive.png" class="size-12" alt="argon-global-tech-logo" />
                    </div>
                    <span class="hover:underline">Argon Global Tech</span>
                </a>
                <a href="https://quinoto.tech/es/" class="flex items-center gap-x-3">
                    <div class="flex items-center justify-center size-16 bg-tertiary-0/20 border-2 border-tertiary-0/30
                        rounded-full transition-all duration-300 ease-in-out hover:bg-tertiary-0/30 hover:scale-110"
                    >
                        <img src="/assets/images/logos/qt-logo-positive.png" class="size-12" alt="quinoto-tech-logo" />
                    </div>
                    <span class="hover:underline">Quinoto Tech</span>
                </a>
            </div>

            <div class="grid grid-cols-2 md:grid-cols-4 gap-6">
                <a href="#" class="flex items-center justify-center size-16 bg-tertiary-0/20 border-2 border-tertiary-0/30
                        rounded-full transition-all duration-300 ease-in-out hover:bg-tertiary-0/30 hover:scale-110"
                ><i class="fab fa-facebook text-3xl"></i></a>
                <a href="#" class="flex items-center justify-center size-16 bg-tertiary-0/20 border-2 border-tertiary-0/30
                        rounded-full transition-all duration-300 ease-in-out hover:bg-tertiary-0/30 hover:scale-110"
                ><i class="fab fa-twitter text-3xl"></i></a>
                <a href="#" class="flex items-center justify-center size-16 bg-tertiary-0/20 border-2 border-tertiary-0/30
                        rounded-full transition-all duration-300 ease-in-out hover:bg-tertiary-0/30 hover:scale-110"
                ><i class="fab fa-instagram text-3xl"></i></a>
                <a href="#" class="flex items-center justify-center size-16 bg-tertiary-0/20 border-2 border-tertiary-0/30
                        rounded-full transition-all duration-300 ease-in-out hover:bg-tertiary-0/30 hover:scale-110"
                ><i class="fab fa-linkedin text-3xl"></i></a>
            </div>
        </div>
        
    </div>
</section>
