<section id="services-section" class="relative flex-1 flex justify-center lg:h-fit px-6 py-12 lg:py-24 bg-white">
    <div class="flex flex-col items-center lg:justify-evenly gap-y-12 lg:gap-y-24 size-full md:max-w-6xl text-center">
        
        <div class="flex flex-col">
            <h1 class="text-2xl md:text-3xl font-bold">Nuestros Servicios</h1>
            <span class="relative block h-[2px] w-[50px] bg-[#8e1efc] mx-auto my-5 after:content-[''] after:absolute after:left-1/2 
                after:-ml-[75px] after:w-[150px] after:h-[2px] after:border-b-2 after:border-dashed after:border-[#8e1efc]">
            </span>
        </div>
        
        <div class="flex flex-col md:flex-row items-center gap-y-12 md:gap-x-12">
            <div class="flex flex-col items-center gap-y-8 opacity-0 [animation-delay:0.2s]" data-animate>
                <div class="flex items-center justify-center size-32 bg-linear-to-l from-[#7a60ff] to-[#cd9ffa] rounded-full">
                    <i class="fa fa-life-ring text-5xl text-white" aria-hidden="true"></i>
                </div>
                <div class="flex flex-col gap-y-2">
                    <h5 class="text-2xl font-semibold">Soporte 24/7</h5>
                    <p class="text-secondary-qt_grey-light">
                        Nuestro equipo está siempre disponible para resolver tus dudas y brindarte la mejor asistencia.
                    </p>
                </div>
            </div>

            <div class="flex flex-col items-center gap-y-8 opacity-0 [animation-delay:0.4s]" data-animate>
                <div class="flex items-center justify-center size-32 bg-linear-to-l from-[#7a60ff] to-[#cd9ffa] rounded-full">
                    <i class="fa fa-robot text-5xl text-white" aria-hidden="true"></i>
                </div>
                <div class="flex flex-col gap-y-2">
                    <h5 class="text-2xl font-semibold">Inteligencia artificial</h5>
                    <p class="text-secondary-qt_grey-light">
                        Automatiza tus reservas o consultas de clientes con nuestro bot de inteligencia artificial configurable a medida.
                    </p>
                </div>
            </div>

            <div class="flex flex-col items-center gap-y-8 opacity-0 [animation-delay:0.4s]" data-animate>
                <div class="flex items-center justify-center size-32 bg-linear-to-l from-[#7a60ff] to-[#cd9ffa] rounded-full">
                    <i class="fa fa-bolt text-5xl text-white" aria-hidden="true"></i>
                </div>
                <div class="flex flex-col gap-y-2">
                    <h5 class="text-2xl font-semibold">Rapidez</h5>
                    <p class="text-secondary-qt_grey-light">
                        Pagos rápidos y sin complicaciones: tus clientes pagan y continúan con su día sin demoras.
                    </p>
                </div>
            </div>
        </div>

    </div>
</section>
