<section id="technology-section" class="relative flex-1 flex flex-col justify-center lg:h-fit 
    bg-[url('/assets/images/main-background.png')] bg-no-repeat bg-fixed bg-cover bg-center"
>
    <div id="technology-section-overlay" class="z-0 absolute size-full p-6 bg-linear-to-l from-[#7a60ffe6] to-[#cd9ffae6] text-center"></div>

    <div id="technology-section-content" class="z-10 relative flex-1 flex justify-center px-6 py-12 lg:py-24">
        <div class="flex flex-col items-center lg:justify-evenly gap-y-12 lg:gap-y-16 size-full md:max-w-6xl text-center text-white">

            <h1 class="text-2xl md:text-4xl font-semibold">Tecnología que impulsa tu negocio</h1>

            <div class="grid sm:grid-cols-2 lg:grid-cols-4 items-center gap-6">
                <div class="flex flex-col items-center gap-y-6 p-6 size-full rounded-2xl transition-all duration-300 ease-in-out">
                    <div class="flex items-center justify-center size-16 bg-[#ffffff33] border-2 border-[#ffffff4d]
                        rounded-full transition-all duration-300 ease-in-out hover:bg-[#ffffff4d] hover:scale-110"
                    >
                        <i class="fa fa-qrcode text-2xl" aria-hidden="true"></i>
                    </div>
                    <div class="flex flex-col gap-y-3">
                        <h5 class="text-xl font-semibold">Códigos QR</h5>
                        <p class="text-sm">Acceso instantáneo al menú desde cualquier mesa, carpa, totem, etc.</p>
                    </div>
                </div>

                <div class="flex flex-col items-center gap-y-6 p-6 size-full rounded-2xl transition-all duration-300 ease-in-out">
                    <div class="flex items-center justify-center size-16 bg-[#ffffff33] border-2 border-[#ffffff4d]
                        rounded-full transition-all duration-300 ease-in-out hover:bg-[#ffffff4d] hover:scale-110"
                    >
                        <i class="fa fa-mobile-alt text-2xl" aria-hidden="true"></i>
                    </div>
                    <div class="flex flex-col gap-y-3">
                        <h5 class="text-xl font-semibold">App Móvil</h5>
                        <p class="text-sm">Interfaz optimizada para todos los dispositivos</p>
                    </div>
                </div>

                <div class="flex flex-col items-center gap-y-6 p-6 size-full rounded-2xl transition-all duration-300 ease-in-out">
                    <div class="flex items-center justify-center size-16 bg-[#ffffff33] border-2 border-[#ffffff4d]
                        rounded-full transition-all duration-300 ease-in-out hover:bg-[#ffffff4d] hover:scale-110"
                    >
                        <i class="fa fa-chart-line text-2xl" aria-hidden="true"></i>
                    </div>
                    <div class="flex flex-col gap-y-3">
                        <h5 class="text-xl font-semibold">Dashboard</h5>
                        <p class="text-sm">Control total de ventas y estadísticas en tiempo real</p>
                    </div>
                </div>

                <div class="flex flex-col items-center gap-y-6 p-6 size-full rounded-2xl transition-all duration-300 ease-in-out">
                    <div class="flex items-center justify-center size-16 bg-[#ffffff33] border-2 border-[#ffffff4d]
                        rounded-full transition-all duration-300 ease-in-out hover:bg-[#ffffff4d] hover:scale-110"
                    >
                        <i class="fa fa-robot text-2xl" aria-hidden="true"></i>
                    </div>
                    <div class="flex flex-col gap-y-3">
                        <h5 class="text-xl font-semibold">Bot IA</h5>
                        <p class="text-sm">Automatización de reservas y atención al cliente</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
