<section id="testimonial-section" class="relative flex-1 flex justify-center px-6 py-12 lg:py-24 bg-linear-to-l 
    from-[#7a60ffe6] to-[#cd9ffae6] before:content-[''] before:absolute before:inset-0 before:bg-[url('/assets/images/pattern.png')]"
>
    <div class="z-10 flex flex-col items-center lg:justify-evenly gap-y-12 lg:gap-y-16 size-full md:max-w-6xl text-center text-white">

        <div class="flex flex-col items-center">
            <h1 class="text-2xl md:text-3xl font-bold">¿Que estas esperando para sumarte?</h1>
            <span class="relative block h-[2px] w-[50px] bg-[#8e1efc] mx-auto my-5 after:content-[''] after:absolute after:left-1/2 
                after:-ml-[75px] after:w-[150px] after:h-[2px] after:border-b-2 after:border-dashed after:border-[#8e1efc]">
            </span>
            <!-- <p class="text-lg max-w-3xl">Únete a los cientos de restaurantes que ya transformaron su negocio</p> -->
        </div>

        <div class="grid lg:grid-cols-3 items-center gap-6">
            <div class="flex flex-col items-center gap-y-6 p-6 size-full rounded-2xl transition-all duration-300 ease-in-out">
                <span class="text-5xl font-bold">85%</span>
                <div class="flex flex-col gap-y-3">
                    <h5 class="text-xl font-semibold">Reducción en tiempos de espera</h5>
                    <p class="text-sm">Los clientes ordenan y pagan sin esperar al mozo</p>
                </div>
            </div>

            <div class="flex flex-col items-center gap-y-6 p-6 size-full rounded-2xl transition-all duration-300 ease-in-out">
                <span class="text-5xl font-bold">40%</span>
                <div class="flex flex-col gap-y-3">
                    <h5 class="text-xl font-semibold">Aumento en ventas promedio</h5>
                    <p class="text-sm">Sugerencias inteligentes incrementan el ticket promedio</p>
                </div>
            </div>

            <div class="flex flex-col items-center gap-y-6 p-6 size-full rounded-2xl transition-all duration-300 ease-in-out">
                <span class="text-5xl font-bold">95%</span>
                <div class="flex flex-col gap-y-3">
                    <h5 class="text-xl font-semibold">Satisfacción del cliente</h5>
                    <p class="text-sm">Experiencia más fluida y moderna</p>
                </div>
            </div>
        </div>

        
        <a href="demo.html" class="px-8 py-4 bg-white text-lg text-[#7a60ff] font-semibold 
            rounded-full shadow-md transition-all duration-300 ease-in-out 
            hover:text-[#5f0099] hover:shadow-lg hover:translate-y-1"
        >¡Ya podés probar la demo!</a>

    </div>
</section>
