<!DOCTYPE html>
<html lang="{{ page.lang }}" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comanda Ya</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/images/cy-logo-positive.png">
    <link href="../assets/css/build/styles.css" rel="stylesheet">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.12.1/font/bootstrap-icons.min.css">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" 
        integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous"
    >
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    
    <!-- Begin - Extra Heads -->
    {% block extra_heads %}{% endblock extra_heads %}
    <!-- End - Extra Heads -->
</head>
<body data-filename="{{ fileName }}" class="body flex min-h-screen text-tertiary-800 dark:text-tertiary-200 font-poppins font-normal">

    <!-- Begin Sidebar -->
    {% block sidebar %}
    {% customSidebar id="sidebar_menu", side="translate-x-full" %}
        <div class="z-20 flex flex-col size-full px-3 bg-tertiary-50 dark:bg-tertiary-700 rounded-l-xl transition-colors duration-300 ease-in-out">
            <!-- Title -->
            <div class="flex items-center justify-between gap-x-2 py-5 border-b border-tertiary-800 dark:border-tertiary-200">
                <h1 class="px-3 py-2 text-xl font-bold">Menu</h1>
                {% customButton id="sidebar_menu_close", icon="bi-x", iconClasses="text-3xl", 
                    extraClasses="z-0 w-fit hover:shadow-glow-dark-md"
                %}
            </div>
            
            <!-- Content -->
            <nav class="flex-1 flex flex-col gap-y-6 h-full py-5 px-2 font-semibold overflow-y-auto overscroll-contain scrollbar-hide">
                <ul class="flex flex-col gap-y-3 gap-x-6 font-semibold uppercase">
                    {% block nav_links %}
                    {% endblock nav_links %}
                </ul>
                <div class="grid grid-cols-2 place-items-center gap-x-3 mt-auto">
                    <!-- {% langSelector id="lang_selector", buttonIcon="bi-chevron-up", 
                        buttonClasses="bg-tertiary-50 dark:bg-tertiary-600 border-tertiary-200 dark:border-tertiary-400", 
                        iconClasses="text-tertiary-600 dark:text-tertiary-300", 
                        dropdownClasses="bottom-full bg-tertiary-50 dark:bg-tertiary-600 border-tertiary-200 dark:border-tertiary-400"
                    %} -->
    
                    {% customSwitch id="theme_switch", leftIcon="bi-sun-fill", rightIcon="bi-moon-fill", 
                        extraClasses="p-1 bg-tertiary-100 dark:bg-tertiary-800 border-tertiary-100 dark:border-tertiary-800", 
                        leftIconClasses="text-xl text-secondary-300", rightIconClasses="text-xl text-primary-600", 
                        thumbClasses="bg-tertiary-50 dark:bg-tertiary-600" 
                    %}
                </div>
            </nav>
        </div>
    {% endcustomSidebar %}
    {% endblock sidebar %}
    <!-- End Sidebar -->

    <!-- Begin Main Content -->
    <div class="z-10 flex-1 flex flex-col">
        {% block navbar %}
        <header id="header" class="z-20 sticky top-0 flex justify-center w-full px-4 py-2 bg-primary-300 dark:bg-primary-800 
            md:bg-linear-to-l md:from-primary-500 md:to-primary-300 md:dark:from-primary-600 md:dark:to-primary-800 transition-colors 
            duration-300 ease-in-out before:content-[''] before:absolute before:inset-0 before:bg-[url('/assets/images/pattern.png')]"
        >
            <nav id="navbar" class="z-10 flex items-center justify-between md:justify-around size-full max-h-24 md:max-h-36 text-tertiary-0">
                <img src="../assets/images/cy-logo-positive.png" alt="comanda-ya-logo" 
                    class="w-24 md:w-36 dark:hidden transition-all duration-300 ease-in-out dark:opacity-0" 
                />
                <img src="../assets/images/cy-logo-negative.png" alt="comanda-ya-logo-dark" 
                    class="w-24 md:w-36 hidden dark:block transition-all duration-300 ease-in-out opacity-0 dark:opacity-100" 
                />

                {% customButton id="sidebar_menu_button", icon="bi-list", iconClasses="text-3xl", 
                    extraClasses="z-0 md:hidden w-fit text-tertiary-50"
                %}

                <div id="navbar-nav" class="hidden md:block">
                    <ul class="flex items-center gap-x-6 text-sm font-semibold uppercase">
                        {% block nav_links %}
                        {% endblock nav_links %}
                        {% customButton id="theme_button", icon="bi-moon-fill", iconClasses="text-xl text-primary-600 dark:text-secondary-300", 
                            extraClasses="w-fit bg-tertiary-50 dark:bg-tertiary-700 rounded-full shadow-lg"
                        %}
                    </ul>
                </div>
            </nav>
        </header>
        {% endblock navbar %}

        <div>
            {% block content %}
            {% endblock content %}
        </div>

        <footer class="flex justify-center p-4 bg-tertiary-0 dark:bg-tertiary-800">
            <p class="text-sm text-center">
                © 2025 ComandaYa - Todos los derechos reservados. 
                <a href="https://quinoto.tech/" class="text-secondary-600 dark:text-secondary-400 hover:underline">Powered by Quinoto Tech</a>
            </p>
        </footer>
    </div>
    <!-- End Main Content -->
    
    <script type="module" src="../assets/js/script.js"></script>
    <!-- Begin - Extra Scripts -->
    {% block extra_scripts %}{% endblock extra_scripts %}
    <!-- End - Extra Scripts -->

</body>
</html>
