---
fileName: index
---

{% extends "base.html" %}


{% block nav_links %}
<li class="nav-item"><a class="nav-link" href="https://backend.comandaya.app/login/">Iniciar Sesion</a></li>
<li class="nav-item"><a class="nav-link" href="#services-section">Nuestros servicios</a></li>
<li class="nav-item"><a class="nav-link" href="#features-section">Caracteristicas</a></li>
<li class="nav-item"><a class="nav-link" href="#plans-section">Planes</a></li>
{% endblock nav_links %}

{% block content %}
<section class="z-10 flex-1 flex flex-col overflow-hidden">
    {% include "components-index/home-section.html" %}
    {% include "components-index/services-section.html" %}
    {% include "components-index/adaptability-section.html" %}
    {% include "components-index/technology-section.html" %}
    {% include "components-index/features-section.html" %}
    {% include "components-index/testimonial-section.html" %}
    {% include "components-index/plans-section.html" %}
    {% include "components-index/contact-section.html" %}
    
    {% include "components-index/demo-form.html" %}
    {% include "components-index/membership-form.html" %}
</section>
{% endblock content %}
